.section {
  padding: 20px 0;

  img {
    max-width: 100%;
  }

  input {
    margin-top: 50px;
  }

  a {
    text-decoration: none;
    color: inherit;

  }
}

.description {
  p {
    font-size: 23px;
  }
}